<center>
<div id="header">
 		<center>
		<!--中间内容开始-->
 		<div id="contain">
			<div id="log" class="c2">
				<img src="images/微信LOGO-01_副本.jpg">
			</div>
			<div id="nav" class="c5">
				<ul>
					<a href="index.html"><li>首页</li></a>
					<a href="about.html"><li>关于我们</li></a>
				</ul>
			</div>
			<div id="tel" class="c3">
				<ul>
					<li class="number"><img src="images/tel .jpg">&nbsp;&nbsp;</li>
					<li class="number1"><a href="">13916247927</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li class="pub"><a class="btn-primary theme-login" href="javascript:;" name="log">登录|</a></li>
					<li class="pub"><a class="btn-primary theme-login" href="javascript:;" name="reg">注册</a></li>
			  </ul>
			</div>
			<!--<?->$this->component('loginRe');?>-->
		</div>
		<!--中间内容end-->
		<center>
 </div>
 <center>