<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/components/service.css">
</head>
<body>
	<!--客服挂件开始-->
    <div id="for_kefu_block">
        <div class="kefu_box kefu_block">
            <div class="kefu_title"><a class="kefu_close" href="javascript:void(0)"><img src="images/kf_top.png" width="183" height="31"></a></div>
            <div class="kefu_con">
                <div class="kefu_tel"></div>
                <div class="kefu1">
                    <div class="kefu_con_title">
                        <ul class="jszcfwul clearfix">
                            <li class="kefu_con_title_li1"><img src="images/kf_line2.png" width="14" height="14"></li>
                            <li class="kefu_con_title_li2">注册服务</li>
                        </ul>
                    </div>
                    <div class="kefu_con_con1">
                        <ul class="clearfix">
                            <li class="neititle"><div class="uline">开店顾问</div></li>
                            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=965258148&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:965258148:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></li>
                            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=965258148&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:12345678:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></li>
                            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=965258148&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:12345678:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></li>
                            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=965258148&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:12345678:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></li>
                            <li class="neititle"><div class="uline">企业定制</div></li>
                            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=965258148&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:12345678:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="kefu5">
                    <div class="kefu_con_title">
                        <ul class="clearfix">
                            <li class="kefu_con_title_li1"><img src="images/kf_line2.png" width="14" height="14"></li>
                            <li class="kefu_con_title_li2">技术支持</li>
                        </ul>
                    </div>
                    <div class="kefu_con_con">
                        <ul class="clearfix">
                            <li><a href="tencent://message/?uin=821821069&amp;Site=咨询&amp;Menu=yes" target="blank" title="售后1" rel="nofollow"><img src="images/QQ1.png" width="34" height="34"><span>售后1</span></a></li>
                            <li><a href="tencent://message/?uin=821852069&amp;Site=咨询&amp;Menu=yes" target="blank" title="售后2" rel="nofollow"><img src="images/QQ1.png" width="34" height="34"><span>售后2</span></a></li>
                            <li><a href="tencent://message/?uin=821821069&amp;Site=咨询&amp;Menu=yes" target="blank" title="售后3" rel="nofollow"><img src="images/QQ1.png" width="34" height="34"><span>售后3</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="kefu_tt"><a href="#"><img src="images/kf_foot.png" /></a></div>
        </div>
        
        <div class="kefu_flag"><img src="images/kefu_flag.gif" /></div>
        
    </div>
    
    <script language="javascript">
    $(document).ready(function(){
        $(".kefu_close").click(function(){
            $(".kefu_block").hide();
            $(".kefu_flag").show();
            
        })
        $(".kefu_flag").click(function(){
            $(this).hide();
            $(".kefu_block").show();
            
        })
    });
    </script>
<!--客服挂件结束-->
</body>
</html>