@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;text-decoration:none;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}
body{_background-image:url(about:blank);/*用浏览器空白页面作为背景*/_background-attachment:fixed; /* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/ } 
/*在线客服*/
.kefu_flag{cursor:pointer;display:block;width:28px;}
#for_kefu_block{position:fixed;top:0px;right:0px;z-index:100;margin:80px 0 0 0;}
*html #for_kefu_block{position:absolute;top:expression(documentElement.scrollTop + 0 + "px");} 
.kefu_block{position:relative;width:183px;display:none;}
.kefu_title{width:183px;height:32px;}
.kefu_box{width:183px;overflow:hidden;}
.kefu_close{width:183px;height:31px;display:block;position:absolute;left:0;top:0;}
.kefu_con{width:181px;border-left:solid 1px #afafb0;border-right:solid 1px #afafb0;background-color:#FFFFFF;}
.kefu_tel{background:url(kf_tel.jpg) no-repeat scroll;width:171px;height:68px;color:#000;font-size:14px;font-weight:bold;padding-top:5px;padding-left:10px;}
.kefu_con_title{background:url(kf_title.jpg) no-repeat scroll;width:181px;height:31px;cursor:pointer;}
.kefu_con_title ul li{float:left;margin-top:8px;}
.kefu_con_title_li1{width:14px;height:14px;padding-left:16px;padding-right:10px;}
.kefu_con_title_li2{color:#FFF;font-family:"微软雅黑";font-size:12px;font-weight:bold;}
.kefu_con_con{background:url(kf_he.jpg) no-repeat scroll;height:60px;overflow:hidden;padding-top:10px;padding-bottom:5px;}
.kefu_con_con ul{width:150px;margin-left:20px;}
.kefu_con_con ul li{float:left;width:32px;padding:2px 1px;text-align:center;padding-left:10px;}
.kefu_con_con ul li span{font-size:12px;}
.kefu_con_con ul li a{font-size:12px;color:#333;}
.kefu_con_con ul li a:hover{color:#333;}
.kefu_con_con .neititle{width:130px;margin-top:2px;padding-left:0px;}
.kefu_con_con .neititle .uline{border-bottom:#CCCCCC 1px solid;margin-left:10px;text-align:left;margin-bottom:2px;padding-bottom:2px;font-size:12px;font-weight:bold;text-indent:5px;}
.kefu_con_con1{background:url(kf_he.jpg) no-repeat scroll;height:170px;overflow:hidden;padding-top:10px;padding-bottom:5px;}
.kefu_con_con1 ul{width:180px;margin-left:0px;}
.kefu_con_con1 ul li{float:left;width:72px;padding:2px 1px;text-align:center;padding-left:10px;}
.kefu_con_con1 ul li span{font-size:12px;}
.kefu_con_con1 ul li a{font-size:12px;color:#333;}
.kefu_con_con1 ul li a:hover{color:#333;}
.kefu_con_con1 .neititle{width:166px;margin-top:0px;padding-left:0px;}
.kefu_con_con1 .neititle .uline{border-bottom:#CCCCCC 2px dotted;margin-left:10px;text-align:left;margin-bottom:2px;padding-bottom:2px;font-size:14px;font-weight:bold;text-indent:5px;}